<%= form_for(@p_listing, :html => { :multipart => true }) do |f| %>
  <% if @p_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@p_listing.errors.count, "error") %> prohibited this p_listing from being saved:</h2>

      <ul>
      <% @p_listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="container">

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><h4>Property Advertisement</h4></div>
        </div>
        <div class="panel-body">

  <div class="col-md-11 col-md-offset-2">
<br><br>

<div class="row">
<div class="col-sm-9">
  
  <div class="radio-inputs">
    <div class="radio-inputs-lable"><span class="radio-label-span">Display Type</span></div>
    
    <div style="margin-left:150px; line-height:2.9;">

      <%= f.text_field :display_type, type:"radio", value:"Rent" %>&nbsp;&nbsp;Rent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :display_type, type:"radio", value:"Purchase" %>&nbsp;&nbsp;Purchase
  
    </div>

  </div>

</div><br><br>
</div>

<div class="row">
<div class="col-sm-9">
  
  <div class="radio-inputs">
    <div class="radio-inputs-lable"><span class="radio-label-span">Type of Use</span></div>

  <div style="margin-left:150px; line-height:2.9;">

      <%= f.text_field :use_type, type:"radio", value:"Living" %>&nbsp;&nbsp;Living&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :use_type, type:"radio", value:"Trade" %>&nbsp;&nbsp;Trade
  
  </div>
  </div>

</div><br><br>
</div>

<div class="row">
<div class="col-sm-9">
  
  <div class="radio-inputs">
    <div class="radio-inputs-lable"><span class="radio-label-span">Property Type</span></div>
        <div style="margin-left:150px; line-height:2.9;">
  
      <%= f.text_field :property_type, type:"radio", value:"Apartment" %>&nbsp;&nbsp;Apartment&nbsp;&nbsp;&nbsp;
      <%= f.text_field :property_type, type:"radio", value:"House" %>&nbsp;&nbsp;House&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :property_type, type:"radio", value:"Property" %>&nbsp;&nbsp;Property

    </div>
  </div>

</div><br><br><br>
</div>

<div class="row">
<div class="col-sm-9">
  <%= f.text_field :title, class:"form-control", id:"p_listing_title", placeholder:"Title of the Display" %>
</div><br><br>
</div>

<div class="row">
<div class="col-sm-6 padding_colsm6">
  <%= f.text_field :street, class:"form-control", id:"p_listing_street", placeholder:"View Street" %>
</div>
<div class="col-sm-3 padding_colsm3">
  <%= f.text_field :house_no, class:"form-control", id:"p_listing_house_no", placeholder:"House No." %>
</div><br><br>
</div>

<div class="row">
<div class="col-sm-6 padding_colsm6">
  <%= f.text_field :city_place, class:"form-control", id:"p_listing_city_place", placeholder:"Place" %>
</div>
<div class="col-sm-3 padding_colsm3">
  <%= f.text_field :zip_code, class:"form-control", id:"p_listing_zip_code", placeholder:"Zip Code" %>
</div><br><br>
</div>

<div class="row">
<div class="col-sm-6 padding_colsm6">
  <%= f.text_field :flat_size, class:"form-control", id:"p_listing_flat_size", placeholder:"Rasidential Flat" %>
</div>
<div class="col-sm-3 padding_colsm3">
  <%= f.text_field :room, class:"form-control", id:"p_listing_room", placeholder:"Room" %>
</div><br><br>
</div>

<div class="row">
<div class="col-sm-6 padding_colsm6">
  <%= f.text_field :total_rent, class:"form-control", id:"p_listing_total_rent", placeholder:"Total Rent(warm)" %>
</div>
<div class="col-sm-3 padding_colsm3">
  <%= f.text_field :bathroom, class:"form-control", id:"p_listing_bathroom", placeholder:"Bathroom" %>
</div><br><br>
</div>

<div class="row">
<div class="col-sm-6 padding_colsm6">
  <%= f.text_field :date, class:"form-control", id:"p_listing_date", placeholder:"Available From" %>
  <i class="entypo-calender"></i>
</div><br><br>
</div>

<div class="row">
<div class="col-sm-9">
  <%= f.text_field :description, class:"form-control", id:"p_listing_description", placeholder:"Property Description (Max. 2000 Words)", style:"height:200px; width:100%;" %>
</div><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div class="row">
<div class="col-sm-9">

<div class="upload-box">
   <div class="upload-entypo">
    
    
    <span id="target"><h2 class="entypo-camera" style="text-align:center; margin-top:52px;"></h2></span>
    
    
    </div>
    <p style="margin-top: 30px;"><strong>Add Photos</strong> Drag a Photo from a folder over here or click here to </p>

<div class="fileUpload btn-upload">
<span>Upload</span>
<%= f.file_field :p_image, class:"upload", id:"p_listing_p_image" %>

</div>
</div><br>
<p>Allowed Formates for photos are .JPG, .PNG, .GIF Maximum Size is 5 MB.</p>
</div>
</div>

  <div class="field">
    
    <%= f.text_field :longitude, type:"hidden" %>
  </div>
  <div class="field">
    
    <%= f.text_field :latitude, type:"hidden" %>
  </div>

  <div class="row">
<div class="col-sm-9">

<%= link_to 'Back', p_listings_path, class: "btn btn-back btn-lg" %>

<%= f.submit "Continue", class: "btn btn-save btn-lg" %>

</div>
</div>

</div>
</div>
</div>
</div>
</div>

<% end %>
