<p id="notice"><%= notice %></p>



<div class="container-fluid">


<div class="row">
    <div class="col-md-8">

<% @p_listings.each do |p_listing| %>

  <div class="col-sm-6">
    <div class="thumbnail">
      <%= image_tag p_listing.p_image.url, :class => "style_image" %>
      <div class="rent-on-img">$ <%= p_listing.total_rent %></div>
      <div class="image-footer">
        <p>City <%= p_listing.city_place %> - <%= p_listing.property_type %> at <%= p_listing.street %><br>
         Bathroom - <%= p_listing.bathroom %> | Bed - <%= p_listing.room %>
       </p>
        <%= link_to 'View', p_listing %>
        <%= link_to 'Edit', edit_p_listing_path(p_listing) %>
        <%= link_to 'Delete', p_listing, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>

  </div>

  
<% end %>

</div>


</div>



<br><br>
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<%= link_to 'Add New', new_p_listing_path, class: 'btn btn-default' %>
</div>


  


