<p id="notice"><%= notice %></p>

<h1>Listing Cdns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cdns.each do |cdn| %>
      <tr>
        <td><%= cdn.name %></td>
        <td><%= cdn.email %></td>
        <td><%= image_tag cdn.avatar.url(:thumb) %></td>
        <td><%= link_to 'Show', cdn %></td>
        <td><%= link_to 'Edit', edit_cdn_path(cdn) %></td>
        <td><%= link_to 'Destroy', cdn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cdn', new_cdn_path %>
