<!DOCTYPE html>
<html>
<head>
  <title>Wallchalkingnew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<a href="/home" title="" class="btn logo"><h2>Wallchalking</h2></a>

<a href="/users/sign_up" title="" class="btn btn_signup btn-lg">Sign-Up</a>
<a href="/pdetails/new" title="" class="btn btn_post_property btn-lg">Post Property</a>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>



<%= yield %>


<footer class="footer">
<div class="row">
<div class="col-md-4">
<h4 class="txt-color align-left"><strong>Copyrights - Wallchalking Ltd.</strong></h4>
</div>
<div class="col-md-8">
<h4 class="txt-color">
<a href="#" class="align-right"><strong>About Us</strong></a>&nbsp;&nbsp;
<a href="#"><strong>Contact</strong></a>&nbsp;&nbsp; 
<a href="#"><strong>Contact Us</strong></a>&nbsp;&nbsp;
<!-- <a href="#"><strong>impressum</strong></a>&nbsp;&nbsp; -->
<a href="#"><strong>impressum</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#" title="facebook" class="btn btn-icon-btn"><i class="entypo-facebook fbk"></i></a>
<a href="#" title="twitter" class="btn btn-icon-btn"><i class="entypo-twitter twt"></i></a>
<a href="#" title="instagram" class="btn btn-icon-btn"><i class="entypo-instagram inst"></i></a>
</h4>	
</div>
</div>
</footer>
</div>

</body>
</html>
